.PageBody {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    background-color: #0D0D0D;
    z-index: 1;
    padding: 80px;
}

.PageBody header {
    padding: 50px;
    text-align: left;
}

.PageBody header h1 {
    color: #FFFFFF;
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0;
}

.PageBody header p {
    color: #878787;
    margin: 0;
    font-size: 36px;
    padding-bottom: 10px;
}

.PageBodyContainer {
    margin-top: 50px;
    padding: 10px;
    display: flex;
}

.PageBodyContents>div {
    border-top: 1px dotted rgb(139, 139, 139);
    padding-top: 80px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 160px;
    min-height: 300px;
}

.PageBodyContents>div p,
li {
    color: #A5A5A5;
}


@media screen and (max-width: 1200px) {
    .PageBody {
        width: 100%;
    }
}