.SlideShow{
    position: fixed;
    right: 65px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.658);
}

.SlideShow img{
    min-height: 100vh;
}

@media screen and (max-width: 1000px) {
    .SlideShow{display: none;}
}