.SlideShow {
  position: fixed;
  right: 65px;
  width: 40%;
  min-height: 100vh;
  background-size: cover;
}

.slideToLeft {
  animation-name: slideToLeft;
  animation-duration: 600ms;
}

.rotateY {
  animation-name: rotateY;
  transform-origin: right center;
  animation-duration: 600ms;
  animation-delay: 0;
}

.SlideShow-title {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.SlideShow-title p {
  color: #ffffffe5;
  transform: rotate(-90deg);
  font-size: 5vw;
  position: absolute;
  width: 100%;
  transform-origin: left top;
  left: 40%;
  bottom: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .SlideShow {
    display: none;
  }
}

@keyframes slideToLeft {
  from {
    right: -800px;
  }

  to {
    right: 65px;
  }
}

@keyframes rotateY {
  from {
    transform: perspective(600px) rotateY(160deg);
  }

  to {
    transform: perspective(0) rotateY(0);
  }
}
