.SideBar {
    writing-mode: vertical-rl;
    height: 100vh;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    width: 65px;
    background-color: #141414;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

}

.SideBar>a {
    background: url('../../assets/logo512x512.png');
    background-size: contain;
    min-width: 60px;
    min-height: 60px;
}


.SideBar-icons a {
    font-size: 15pt;
    padding: 10px;
    color: #ffffffc2;
    text-align: center;
    text-decoration: none;
}

.SideBar-icons a:hover {
    color: #4264c0;
}

@media screen and (max-width: 1200px) {
    .SideBar {
        width: 100%;
        writing-mode: initial;
        height: 65px;
        padding: 10px;
        top: 0;
        left: 0;
        right: 0;
    }
}