.Footer {
    writing-mode:vertical-rl;
    height: 100vh;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 65px;
    background-color: #FFFFFF;
    z-index: 999;
}

@media screen and (max-width: 1000px) {
    .Footer {
        width:100%;
        writing-mode: initial;
        height: auto;
        position: relative;
    }
}
