.Footer {
    height: 100vh;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 65px;
    background-color: #141414;
    z-index: 999;
}

.Footer-icons {
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-left: 4px;
    position: absolute;

}

.Footer-icons a {
    padding: 10px;
    color: #ffffffc2;
    text-align: center;
}

.Footer-icons a:hover {
    color: #b32929;
}

@media screen and (max-width: 1200px) {
    .Footer {
        width: 100%;
        writing-mode: initial;
        height: 65px;
        position: relative;
    }

    .Footer-icons {
        position: relative;
        flex-direction: row;
    }
}